<!DOCTYPE html>
<html>
<head>
<title>Hello Node-Webkit</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="./setup.js"></script>
<script src="./app.init.js"></script>
<!-- <script src="./websocketserver.js"></script> -->
<script src="./websocketclient.js"></script>
<script src="./app.controller.js"></script>
<style type="text/css">
.form-control {
	width: 100%;
}

.padTop {
	padding-top: 10px;
}

.padBottom {
	padding-bottom: 10px;
}

.padLeft {
	padding-left: 10px;
}

.padRight {
	padding-right: 10px;
}

label {
	vertical-align: middle;
}

img.no-resize {
	max-height: 60px;
	max-width: 60px;
}

select {
	max-width: 400px
}
</style>


</head>
<body>
	<div class="padLeft padRight" ng-app="SuperApp" ng-controller="SuperController">
		<div class="panel panel-default padTop padBottom">
			<div class="container-fluid">
				<div class="row padTop">
					<label class="col-md-2">Select USB device </label> 
					<select class="col-md-10" id="usbSelect"  
					ng-options="item as item.VENDOR_NAME + ' / ' + item.PRODUCT_NAME  + ' / ' + item.VENDOR_ID  for item in usbDevices track by item.VENDOR_ID"
						ng-model="selectedUsbDevice">
<!-- 						<option ng-repeat="option in usbDevices" value="{{option.VENDOR_ID }}">{{option.VENDOR_NAME +"-"+ option.PRODUCT_NAME}}</option> -->
					</select>
				</div>
				<div class="row padTop">
					<button type="button" class="btn btn-primary col-md-2" ng-click="sendSwitchToAccessory()">To Accessory Mode</button>
					<img ng-src="./images/{{imageSwitchToAccessory}}" class="img-rounded col-md-5 no-resize">
					<label class="col-md-5" for="status">{{labelSwitchToAccessory}}</label>
				</div>
				<div class="row padTop">
					<button type="button" class="btn btn-success col-md-2" ng-click="sendConnectAndroidUSB()">Connect to Android USB</button>
 					<img ng-src="./images/{{imageConnectToAndroid}}" class="img-rounded col-md-5 no-resize">
					<label class="col-md-5" for="status">{{labelConnectToAndroid}}</label>
				</div>
				<div class="row padTop">
					<button type="button" class="btn btn-success col-md-2" ng-click="ping('aa')">Ping</button>
					<label class="col-md-5" for="status"></label> 
				</div>
			</div>

		</div>

		<div class="padTop">
			<input id="messageInput" type="text" ng-model="message" />
			<button id="sendButt" ng-click="sendUsbMessage()">Send to USB</button>
		</div>

		<div class="form-group padTop">
			<label for="status">Status:</label>
			<textarea class="form-control" rows="15" id="comment" scroll-to-bottom-on-update ng-model="status"></textarea>
		</div>
		<!-- 
	<div style="padding-top: 5px;">
 	<p>Name : <input type="text" ng-model="name"></p>
	</div>
	<h1>Say {{ name 						}}</h1>
 	<h1>Say {{ name + " : " + getFullName() 			}}</h1>
 	<h1>Say {{ name + " : " + getFullName() | uppercase 		}}</h1> 
	-->
		<div class="padTop" />
		<button id="mybutt" ng-click="count = count + 1">Increment count</button>
		<h1>Count : {{ count }}</h1>
		<!--	<div class="progress">
  		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{count}}%;">
    			<span class="sr-only">60% Complete</span>
  		</div>
	</div>
	-->
	</div>



</body>
</html>
